.getItemsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 128, 0, 0.219);
    width: 100%;
    padding-top: 70px;

}

.saveNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00b60f00;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000;
}

.success{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    color: rgb(0, 0, 0);
    z-index: 100000;
    position: relative;
    top: 0px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(40, 141, 0, 0);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.877);
    margin: 20px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    width: 90%;


}

.details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

select {
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

@media (max-width: 780px) {
    .details {
        flex-direction: column;
    }
}


.changeQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.changeQuantity button {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}



input {
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;

}

.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.done {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.listOFitems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Make grid responsive */
    gap: 10px;
    /* Add space between grid items */
    margin: 20px 0;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f8f8f8;
    width: auto;
    font-size: 14px;
}