
.stockBlocksPage{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(0, 0, 0);

}
.stock{
     display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.stockBlock{
 min-width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(128, 128, 128, 0.329);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.877);
    color: rgb(0, 0, 0);
    
}
span{
    font-weight: bold;

}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.changeQuantity{
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    padding: 0px 20px;
    margin: 10px 0px ;

}
.changeQuantity button{
    padding: 10px;
    border-radius: 5px;
    background-color: green;
    color: white;
}
.deleteBtn{
    width: auto;
    height: auto;
    padding: 3x;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.delete{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}